%html
  %head
    %title Tshirtless?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38763208-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :css
      body {
      			background: url('/images/bg/1a.png') repeat fixed;
      	        font-family: 'Tangerine', serif;
      	        font-size: 48px;
      	        color: #ffffff;
      			}
    %link{:href => "http://fonts.googleapis.com/css?family=Tangerine", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div{:style => "width: 100%"}
      %div{:style => "margin-left:auto; margin-right:auto; width: 100px; margin-top: 150px"}
        %a{:href => "mailto:admin@tshirtless.me", :title => "Click to email"}
          %img{:border => "0", :src => "/images/logoWhiteTrans.png"}/
      %div{:style => "margin-left:auto; margin-right:auto; width:150px; margin-top: 30px"}
        Tshirtless
      %div{:style => "margin-left:auto; margin-right:auto; width:190px; margin-top: 30px; font-family: 'Verdana'; font-size:16px"}
        \- COMING SOON -
