!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title About - Bootstrap Folio
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le styles
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-app.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet"}/
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le fav and touch icons
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
  %body
    .header
      .header-inner
        .container
          .navbar
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{:href => "."} Bootstrap Folio
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => "."} Portfolio
                %li.active
                  %a{:href => "about.html"} About
                %li
                  %a{:href => "contact.html"} Contact
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Dropdown
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Something here
                    %li.divider
                    %li.nav-header Nav header
                    %li
                      %a{:href => "#"} Something else here
              %ul.nav.pull-right
                %li
                  %a{:href => "mailto:#"}
                    %i.icon-envelope
                    Me
            / /.nav-collapse
    / /header
    .topic
      .inner-topic
        .container
          .row
            .span12
              %h1 About Me
    / /topic
    .intro
      .inner-intro
        .container
          .row
            .span12
              %h2 All about me in a single page
              %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    / /intro
    .wrapper
      .inner-wrapper
        .container
          .row
            .span8
              .wii-feature
                .browser-bar
                %img.wii-thumb{:alt => "", :src => "img/studio.png"}/
                .wii-desc
                  %h4 Description/ Caption
              .row
                .span8
                  %ul#myTab.nav.nav-tabs
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#mystory"} My Story
                    %li
                      %a{"data-toggle" => "tab", :href => "#cv"}
                        My 21
                        %sup st
                        Century CV
                  .tab-content
                    #mystory.tab-pane.active
                      %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                    #cv.tab-pane
                      .span4
                        %h2 Experience
                        %article.eamdevelopers
                          %h1 Company A
                          %h2
                            %em Lead Developer
                            %span |
                            Boulder, Colorado
                          %time February 2012 - June 2012
                          %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                        %article.victoriapod
                          %h1 Company X
                          %h2
                            %em Founder
                          %time January 2011 - present
                          %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                        %article.eamdevelopers
                          %h1 Company Z
                          %h2
                            %em Found - All things lead
                            %span |
                            Nairobi, Kenya
                          %time January 2011 - December 2011
                          %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                      .span3
                        %h2 Skills
                        %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        %ul.my-skills
                          %li HTML5 &amp; CSS3
                          %li WordPress
                          %li LESS &amp; SASS
                          %li Git &amp; Mercurial
                          %li JavaScript
                          %li jQuery
                          %li Photoshop
                          %li Ruby on Rails
                          %li iOS Design
                          %li Android Design
                        %h2 Education
                        %article
                          %h1 Self-taught
                          %h2
                            %em Front-end, WordPress, etc.
                          %time 2012 - Forever
            .span4
              .sidebar-wii
                .title-bar
                  %h4 Follow me!
                .sidebar-wii-conte
                  %p Be sure to connect with me on these social networks to receive all the updates.
                  %ul.connect
                    %li
                      %a.connect-email{:href => "#", :target => "_blank"}
                        %span Email Updates
                    %li
                      %a.connect-twitter{:href => "http://www.twitter.com/JWChiwa", :target => "_blank"}
                        %span Me on Twitter
                    %li
                      %a.connect-facebook{:href => "http://www.fb.me/eamdevelopers", :target => "_blank"}
                        %span Facebook
                    %li
                      %a.connect-gplus{:href => "#", :target => "_blank"}
                        %span Me on Google+
              .sidebar-wii
                .title-bar
                  %h4 Subscribe to my Newsletter
                .sidebar-wii-conte
                  %p Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
                  %form.form-inline
                    %input.input-medium{:placeholder => "Enter your email", :required => "", :type => "email"}/
                    %button.btn.btn-info{:type => "submit"} Subscribe me!
              .sidebar-wii
                .title-bar
                  %h4 Sites I enjoy
                .sidebar-wii-conte
                  %ul.friend-list
                    %li
                      %a{:href => "#"} eAM Developers
                    %li
                      %a{:href => "#"} Victoria Pod
                    %li
                      %a{:href => "#"} Facebook
                    %li
                      %a{:href => "#"} Google +
                    %li
                      %a{:href => "#"} Smashing Magazine
                    %li
                      %a{:href => "#"} Wrap Bootstrap
    / /intro
    .footer
      .inner-footer
        .container
          .row
            .span12
              .upper-f
                %h3
                  %a.f-logo{:href => "."} Bootstrap Folio
                .social
                  %a.linkedin{:href => "#"} LinkedIn
                  %a.youtube{:href => "#"} YouTube
                  %a.facebook{:href => "#"} Facebook
                  %a.twitter{:href => "#"} Twitter
            .span12
              .middle-f
                %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                %p
                  \&copy; 2012 Your Name. All rights reserved. |
                  %a.flink{:href => "."} Home
                  %a.flink{:href => "about.html"} About
                  %a.flink{:href => "contact.html"} Contact
    / /topic
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}
