

.wrapper
  .inner-wrapper
    .container
      .row
        .span12
          %h2.nuck Marvelous tasks I've recently accomplished
      .row
        .span4
          .wii
            .browser-bar
            %a{:href => "work.html"}
              %img.wii-thumb{:alt => "description", :src => "img/img.png"}/
            .wii-desc
              %h4 Description/ Caption
              %hr/
              .wii-meta
                %p.pull-left Web Design
                %p.pull-right June 27, 2012
        .span4
          .wii
            .browser-bar
            %a{:href => "work.html"}
              %img.wii-thumb{:alt => "description", :src => "img/img2.png"}/
            .wii-desc
              %h4 Description/ Caption
              %hr/
              .wii-meta
                %p.pull-left SEO Marketing
                %p.pull-right June 28, 2012
        .span4
          .wii
            .browser-bar
            %a{:href => "work.html"}
              %img.wii-thumb{:alt => "description", :src => "img/img3.png"}/
            .wii-desc
              %h4 Description/ Caption
              %hr/
              .wii-meta
                %p.pull-left Copy Writing
                %p.pull-right June 29, 2012
      .row
        .span4
          .wii
            .browser-bar
            %a{:href => "work.html"}
              %img.wii-thumb{:alt => "description", :src => "img/img3.png"}/
            .wii-desc
              %h4 Description/ Caption
              %hr/
              .wii-meta
                %p.pull-left Plugin Development
                %p.pull-right June 29, 2012
        .span4
          .wii
            .browser-bar
            %a{:href => "work.html"}
              %img.wii-thumb{:alt => "description", :src => "img/img.png"}/
            .wii-desc
              %h4 Description/ Caption
              %hr/
              .wii-meta
                %p.pull-left Icon Design
                %p.pull-right July 01, 2012
        .span4
          .wii
            .browser-bar
            %a{:href => "work.html"}
              %img.wii-thumb{:alt => "description", :src => "img/img2.png"}/
            .wii-desc
              %h4 Description/ Caption
              %hr/
              .wii-meta
                %p.pull-left Logo Design
                %p.pull-right July 01, 2012
/ /wrapper