.wrapper
  .inner-wrapper
    .container
      .row
        .span12
          %h2.nuck We're still in BETA, the collection will grow by the day as we automate our feeds.
      .row
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black"}
              %a{:href => "http://www.shareasale.com/r.cfm?b=310481&u=751849&m=32833&urllink=&afftrack="}
                = image_tag "tshirts/teefury-20130308-1.png"
            .wii-desc
              %h4 $11 Stag-gered Houses
              %hr/
              .wii-meta
                %p.pull-left Teefury.com
                %p.pull-right March 9, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black"}
              %a{:href => "http://www.riptapparel.com"}
                = image_tag "tshirts/ript-20130308-1.jpg"
            .wii-desc
              %h4 $10 BOBKAMI ROSS
              %hr/
              .wii-meta
                %p.pull-left Ript Apparel
                %p.pull-right March 9, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black"}
              %a{:href => "http://www.epicembrace.com"}
                = image_tag "tshirts/epicembrace-20130308-1.jpg"
            .wii-desc
              %h4 $11 Timelord Companions Club
              %hr/
              .wii-meta
                %p.pull-left Epic Embrace
                %p.pull-right March 9, 2013
      / .row
      /   .span4
      /     .wii
      /       .browser-bar
      /       %a{:href => "work.html"}
      /         %img.wii-thumb{:alt => "description", :src => "img/img3.png"}/
      /       .wii-desc
      /         %h4 Description/ Caption
      /         %hr/
      /         .wii-meta
      /           %p.pull-left Plugin Development
      /           %p.pull-right June 29, 2012
      /   .span4
      /     .wii
      /       .browser-bar
      /       %a{:href => "work.html"}
      /         %img.wii-thumb{:alt => "description", :src => "img/img.png"}/
      /       .wii-desc
      /         %h4 Description/ Caption
      /         %hr/
      /         .wii-meta
      /           %p.pull-left Icon Design
      /           %p.pull-right July 01, 2012
      /   .span4
      /     .wii
      /       .browser-bar
      /       %a{:href => "work.html"}
      /         %img.wii-thumb{:alt => "description", :src => "img/img2.png"}/
      /       .wii-desc
      /         %h4 Description/ Caption
      /         %hr/
      /         .wii-meta
      /           %p.pull-left Logo Design
      /           %p.pull-right July 01, 2012
/ /wrapper