.header
  .header-inner
    .container
      .navbar
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Tshirtless.me", root_path, :class => "brand"
        / , :style => "font-family: tangerine; font-size: 36px; color: white"
        .nav-collapse
          %ul.nav
            %li.active
              = link_to "About", about_path
            %li
              = link_to "Contact", contact_path
          %ul.nav.pull-right
            %li
              %a{:href => "mailto:#"}
                %i.icon-envelope
                Me
        / /.nav-collapse
/ /header