.intro
  .inner-intro
    .container
      .row
        .span12
          %h2 We scour the Internet for all the best limited time sales, so you don't have to.
          %p We're suckers for (yet another) cool tshirt, and we love a sale - now there's dozens of sites out there now offering quality designs at bargain prices, we make it easy to see them all in one spot.  Most of these sales are very limited time (24/28/72 hours) so make sure you check back regularly!
/ /intro